# SOFTWARE TESTING

Software testing is performed by the Jest library. Tests do not cover the user interface. Only appropriate functions, algorithms and other core logic is tested. All tests can be found within [this folder](https://github.com/joonarafael/visualpathfinder/tree/main/__tests__/ "Jest testing folder").

Tests are automated and integrated to the CI pipeline. Performed for every single repository push. A coverage report is also generated and can be accessed at Codecov via [this link](https://app.codecov.io/gh/joonarafael/visualpathfinder "Codecov report").
